# Server
PORT=3000

# Prisma connection string
# Remplacer par la chaîne de connexion PostgreSQL fournie par Supabase
DATABASE_URL=postgresql://postgres:<password>@db.<project-ref>.supabase.co:5432/postgres?schema=public

# Supabase
SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_PUBLISHABLE_KEY=<your-publishable-key>
SUPABASE_SECRET_KEY=<your-secret-key>
SUPABASE_JWKS_URL=https://<project-ref>.supabase.co/auth/v1/.well-known/jwks.json

# JWT
JWT_SECRET=<your-jwt-secret>